.custom_button_box{
    background-color: rgb(103, 215, 81);
    display: inline-flex;
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
    color: black;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgb(55, 199, 84);
    margin: 5px;
}

.custom_button_box:hover:active{
    background-color: rgb(33, 126, 62);
}

.custom_button_box_inner::selection{
    background: none;
    color: none;
}